body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 140px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* Verhindert das Anzeigen der Scrollbalken */
    scrollbar-width: none;
    background-image: url('img/5_background/first_half_background.png')
}

.d-none {
    display: none !important
}

.title {
    font-family: montagueregular;
    font-size: 68px;
    margin: 0;
    letter-spacing: 10px;
    font-weight: normal;
    z-index: 1;
}

.title::before {
    content: "";
    display: block;
    height: 40px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 480px;
}

.container {
    position: relative;
    width: 900px;
    height: 480px;
    box-shadow: rgb(0, 0, 0) 0px 0px 86px;
    border: 1px solid black;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay img {
    height: 100%;
    width: 100%;
}

.controls {
    position: absolute;
    display: flex;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.controlsMobile {
    position: absolute;
    width: 100%;
    display: none;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 356px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.controlsMobile div {
    display: flex;
    gap: 20px
}

.fullscreen {
    position: relative;
}

.rotate {
    rotate: 90deg;
}

.control {
    z-index: 2;
    height: 40px;
    width: 40px;
    border-color: #DE0A16;
    border-radius: 10px;
    background-color: #D66A18;
    /* margin: 0; */
    border: 1px solid #DE0A16;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls :nth-child(5) {
    width: 100px;
    font-size: 17px;
    font-weight: bold;
}

.controls p {
    font-family: montagueregular;
    white-space: nowrap;

}

.startButton {
    position: absolute;
    z-index: 2;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    top: 17%;
    height: 50px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    font-family: montagueregular;
    letter-spacing: 2px;
    border-color: #DE0A16;
    border-radius: 10px;
    background-color: #D66A18;
}

.startButton:hover {
    background-color: #c05f15
}

.blurredOverlay {
    background-color: rgba(0, 0, 0, -0.39);
    backdrop-filter: blur(2px);
}

.icons {
    position: absolute;
    display: flex;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}

.icons img {
    cursor: pointer;
}

.pepeBackground {
    position: absolute;
    top: -746px;
    left: -265px;
    z-index: 0;
}

.endbossBackground {
    position: absolute;
    top: -340px;
    left: 630px;
    z-index: 0;
    height: 744px;
}

.rotateOverlay {
    display: none;
}

.rotateOverlay img {
    height: 150px;
}


.pepeBackground,
.endbossBackground,
.title {
    animation: element-animation 1s ease-in-out;
}

.container {
    animation: container-animation 1s ease-in-out;
    /* Verzögerung von 1 Sekunde */
}

@keyframes element-animation {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes container-animation {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Styles für mobile Geräte */
@media screen and (max-width: 767px) {
   
    wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    @keyframes container-animation {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    canvas {
        width: 100%;
    }

    .startButton {
        height: 40px;
    }

    .title {
        display: none;
    }

    .controls {
        display: none;
    }

    .fullscreen,
    .container {
        height: 100%;
        width: 100%;
        border: unset;
    }

    .rotateOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(239 227 227);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
}

/* Styles für Tablets */
@media screen and (max-width: 1180px) {

    wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .title,
    .pepeBackground,
    .endbossBackground {
        display: none;
    }

    .startButton {
        height: 40px;
    }

    .controls {
        display: none;
    }

    .icons {
        top: 12px
    }

    .startButton {
        top: 13%
    }

    .fullscreen,
    .container {
        height: 100%;
        width: 100%;
        border: unset;
    }

    .rotateOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(239 227 227);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    @keyframes container-animation {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .controlsMobile {
        display: flex
    }
}